{% extends 'base.html' %}

{% block main-content %}
<!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
         <div class='col-md-6'>
         <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Actualizar BD</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label for="InputFile">Subir Archivo ({{ msg }})</label>
                    <div class="input-group">
                      <div class="custom-file">
                       
                        <input type="file" name="file" id="InputFile">
                        
                      </div>
                      {% comment %} <div class="input-group-append">
                        <span class="input-group-text" id="">Upload</span>
                      </div> {% endcomment %}
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Subir</button>
                </div>
              </form>
            </div>
         </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock main-content %}

